<html>

<head>
   <title>RPi Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   Optional theme
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script src="{{url_for('static', filename='updates.js')}}"></script>
   <script type="text/javascript" charset="utf-8">

	   	$(document).ready(function() {
			socket = io.connect('http://' + document.domain + ':' + location.port);

			socket.on('connect', function() {
			  socket.emit('my event', {data: 'I\'m connected!!!!'});
			});

			socket.on('luminosity', function(msg) {
				console.log("Received: " + msg.data)
			  var nDate = new Date();
			  $('#readingsUpdated').text(nDate.getHours() + 'h:' + nDate.getMinutes() +
			     'm:' + nDate.getSeconds() + 's').html();
			  $('#luminosity').text(msg.data).html();
			});

			socket.on('lights', function(msg) {
				console.log("Received: " + msg.data)
			  var nDate = new Date();
			  $('#readingsUpdated').text(nDate.getHours() + 'h:' + nDate.getMinutes() +
			     'm:' + nDate.getSeconds() + 's').html();
			  $('#lights').text(msg.data).html();
			});

			// console.log("entered with state" + {{state}})
			controlState({{state}})

		});

   	
      function sendData(channel,data){
      	console.log('in function' + channel)
      	var value = document.getElementById(data).value
      	console.log("Value: " + value)
      	socket.emit(channel, value);
      }

   </script>
   
</head>


<body>

	<h1>Sala L516</h1>

	<h3>Luminosidade : <span id="luminosity">{{luminosity}}</span></h3>
	<br>
	<h3>Luzes: <span id="lights">{{lightsLabel[lights]}}</span></h3>
	<h3>Regras: </h3>

	{% if rules|length == 0 %}
		<span class="empty-label">Não há Regras</span>
	{% else %}
		<form method = "POST" action="{{url_for('deleteRule')}}">
			<button name="btn" value="all" class="button-delete">Excluir Todas</button>
		</form>
	{% endif %}


	<ul>

	{% for rule in rules %}
		<div class="rules">
			<span>
				<li>{{ruleTypes[rule["type"]]}}</li>
				<ul>
					{% for key,value in rule["parameters"].items() %}
						{% if value != 'None' %}
							<li>{{conditionTypes[key]}}: {{value}}</li>
						{% endif %}
					{% endfor %}
				</ul>
				<span>{{rule['beginString']}}</span>  <span>{{rule['endString']}}</span>
			</span>
			<form method = "POST" action="{{url_for('deleteRule')}}">
				<button name="btn" value="{{rule}}" class="button-delete" style="margin:auto; margin-left:15px; ">Excluir</button>
			</form>
		</div>
	{% endfor %}
	</ul>
	<form method="POST" action="{{url_for('new')}}">
		<div class="newRule" id="newRuleDiv">
			<span>Regra: 
			<select name="ruleType" id="selectedRule">
			{% for key,value in ruleTypes.items() %}
				<option value="{{ key }}">{{value}}</option>
			{% endfor %}
			</select></span>
		</div>
		<div class="hour" id="hourDiv">
			<span>De   :   <input class="hour-input" type="text" name="hourI" id="hourI" value="09" pattern="[0-9]{2}"> : <input class="hour-input" type="text" name="minI" id="minI" value="00" pattern="[0-9]{2}" >
			<br> 
			<span>Até: <input class="hour-input" type="text" name="hourE" id="hourE" pattern="[0-9]{2}" value="11"> : <input class="hour-input" type="text" name="minE" id="minE" pattern="[0-9]{2}" value="00" > </span>
			<br>
			<button class="button-newCondition-next" onclick="evaluateHour({{rules}},{{ruleTypes}})" type="button">Próximo</button>
		</div>
		<div class="evaluatedHour" id="evaluatedHour">
			Regra: <span id="rule-text">{{ruleTypes[rule]}}</span><br>
			De: <span id="hourI-text">{{hourI}}</span>:<span id="minI-text">{{minI}}</span>
			Até: <span id="hourE-text">{{hourE}}</span>:<span id="minE-text">{{minE}}</span>
		</div>
		<div class="conditions" id="conditionsDiv">

			<h4>Condições:</h4>

			<ul>
			{% for key,value in conditions.items() %}
				{%if value != 'None' %}
				<span style="display:flex;">
					<li>{{conditionTypes[key]}}: {{value}}</li>
					<button name="btn" value="{{key}}" style="margin:auto; margin-left:15px; ">Excluir</button>
				</span>
				{%endif%}
			{% endfor %}
			</ul>

			<br>
			<button class="button-newCondition" type="button" id="newConditionButton" onclick="controlState('new condition')">Adicionar Nova Condição</button>
			
			
			<div id="newConditionValueDiv">
					<div class="newCondition">
						<div>
							<span  id="condition"></span> <input type="number" name="conditionValue" id="conditionValue">
						</div>
						<br>
						<div>
							<button class="button-newCondition-back" type="button" onclick="controlState('new condition')">Voltar</button>
							
							<button class="button-newCondition" type="submit" name="btn" value="createCondition">Adicionar Condição</button>
							
						</div>
					</div>
			</div>
			<div class="newConditions" id="newConditionTypeDiv">
				<span>Condição: 
					<select name="conditionType" id="conditionTypeSelected">
					{% for key,value in conditionTypes.items() %}
						<option value="{{key}}">{{value}}</option>
					{% endfor %}
					</select>
				</span>
				<div>
					<button class="button-newCondition-back" type="button" onclick="controlState('conditions')">Voltar</button>
					<button class="button-newCondition-next" type="button" onclick="evaluateConditions({{conditions}},{{conditionTypes}})">Próximo</button>
				</div>
			</div>
		</div>	

		<div id="newRuleButtonsDiv">
			<button type="submit" name="btn" value="cancelCreateRule"> Cancelar </button>
			<button type="submit" name="btn" value="createRule"> Criar Regra </button>
		</form>
		</div>
		
		<button  class="button-newRule" id="newRuleButton" onclick="controlState('new rule')"> Adicionar Nova Regra </button> 

</body>
</html>