<html>

<head>
   <title>RPi Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('luminosity', function(msg) {
          var nDate = new Date();
          $('#readingsUpdated').text(nDate.getHours() + 'h:' + nDate.getMinutes() +
             'm:' + nDate.getSeconds() + 's').html();
          $('#luminosity').text(msg.data).html();
        });
      });
   </script>
</head>


<body>

	<h1>Sala L516</h1>

	<h3>Luminosidade : <span id="luminosity"></span></h3>
	<br>
	<h3>Regras: </h3>

	{% for rule in rules %}
		{{rule["type"]}}
	{% endfor %}


	{% if (newFlags["rule"]==True) %}
		<form method="POST" action="{{ url_for('new') }}">
			<div>
				<h4>Regra:</h4>
				<select name="ruleType">
				{% for ruleType in ruleTypes %}
					<option value="{{ruleType['value']}}">{{ruleType["label"]}}</option>
				{% endfor %}
				</select>
			</div>
			<div>
				<h3>De: </h3> <input type="number" name="hourI" min="0" max="23" placeholder="9"> : <input type="number" name="minI" min="0" max="59" placeholder="0">
				<h3>Até: </h3> <input type="number" name="hourE" min="0" max="23" placeholder="11"> : <input type="number" name="minE" min="0" max="59" placeholder="0">
			</div>
			<div>
				<h4>Condições:</h4>
				{% for existingCondition in conditions %}
					{{existingCondition["type"]}}: {{existingCondition["value"]}} <br>
				{% endfor %}
				
				{% if (newFlags["condition"]==True) %}
				
					{% if (newFlags["conditionType"]==True) %}
						<h4>{{conditionsMessages[condition["type"]]}}</h4>
						<br>
						<input type="number" name="conditionValue">

						<button type="submit" name="btn" value="createCondition">Adicionar Condição</button>
					{% else %}
						<h4>Condição:</h4>
						<div>
							<select name="conditionType">
							{% for existingConditionType in conditionTypes %}
								<option value="{{existingConditionType['value']}}">{{existingConditionType["label"]}}</option>
							{% endfor %}
							</select>
						</div>
						<button name="btn" value="conditionType">Próximo</button>
					</form>
					{% endif %}

				{% else %}
					<button name="btn" value="condition" type="submit">Adicionar Nova Condição</button>
				{% endif %}

			</div>

			<button type="submit" name="btn" value="createRule"> Criar Regra </button> 

		</form>
		
	{% else %}
		<form  action="{{ url_for('new') }}" method="POST">
			<button  name="btn" value="rule" type="submit"> Adicionar Nova Regra </button> 
		</form>
	{% endif %}


</body>
</html>