<html>
<body>
	<h1>Sala L516</h1>

	<h3>Luminosidade : {{luminosity}}</h3>
	<br>
	
	<h3>Regra: {{ruleType}} </h3>
	<br>
	
	<h2>Horário: </h2>
	<br>
	
	<form action="" >
		<div>
			<h3>De: </h3> <input type="number" name="hourI" min="0" max="23"> : <input type="number" name="minI" min="0" max="59">
			<h3>Até: </h3> <input type="number" name="hourE" min="0" max="23"> : <input type="number" name="minE" min="0" max="59">
		</div>
		<button type="submit">Próximo</button>
	</form>
<!-- <a href="/regra/" class="btn btn-block btn-lg btn-default" role="button">B</a> Adicionar Nova Regra -->

</body>
</html>