body { 

	font-family: sans-serif;
	background: #fff;

	margin: 2.5%;
 }

 .rules{
 	display: flex;
 }

 .hour {

 	padding-top: 1.5%;
 	padding-bottom: 1.5%;

 }

.hour-input {
	width: 40px;
}

.empty-label{
	font-style: italic;
	color: gray;
	padding-left: 1%;
}

.conditions{
	padding-bottom: 2%;
}

.button-newRule{
	margin-left: 1%;
}

.button-newCondition-back, .button-newCondition-next{
	margin-top: 1%;
}

.button-newCondition-back {
	margin-left: 1%;
}

.button-delete{
	margin-left: 1%;
}

.newCondition{
	display: flex;
	flex-direction: column
}

#evaluatedHour, #newRuleButtonsDiv{
	display: none;
}

#newRuleDiv{
	display: none;
}
#conditionsDiv{
	display: none;
}
#newConditionValueDiv{
	display: none;
}
#newConditionTypeDiv{
	display: none;
}

#hourDiv{
	display: none;
}

#rule-text,#hourI-text,#hourE-text,#minI-text,#minE-text{
	font-weight: bold;
}